<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Cotação</title>
      <!-- Bootstrap Core CSS -->
      <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
      <!-- Plugin CSS -->
      <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
      <link rel="stylesheet" href="/static/vendor/device-mockups/device-mockups.min.css">
      <!-- Theme CSS -->
      <link href="/static/css/new-age.css" rel="stylesheet">
      <!-- email js-->
      <script src="/static/js/smtp.js"></script>

      <!-- jQuery -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <!-- Theme JavaScript -->
      <script src="/static/js/new-age.min.js"></script>

      <!-- Highcharts-->
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="/static/js/highcharts.js"></script>



   </head>
   <body id="page-top">
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">Cotação do dia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a class="page-scroll" href="#dolar">Dolar</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#euro">Euro</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#peso">Peso</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <!-- Full Page Image Background Carousel Header -->
      <header id="header" class="features">
         <section id="header" class="features">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 text-center">
                     <div class="section-heading">
                        <h2>Cotação diária</h2>
                        <p class="text-muted">Cotação do dia real versus dolar, real versus euro e real versos peso argentino.</p>
                        <hr>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="device-container">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8">
               <div class="container-fluid">
                  <div class="row">
                  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                  </div>
               </div>
            </div>
            </div>
         </section>
      </header>

      <section id="dolar" class="download bg-primary text-center">
         <div class="container">
            <div class="row">
            <!-- <h2>{{converted_real}}</h2>
            <h2>{{converted_euro}}</h2>
            <h2>{{converted_peso}}</h2> -->
            {% for real in converted_real %}
               <span onclick=console.log({{ real|safe }});>{{ real }}</span>
            {% endfor %}
            </div>
         </div>
      </section>


      <section id="euro" class="features">
         <div class="container">
            <div class="row">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
         </div>
      </section>
      <section class="cta">
         <div class="cta-content">
            <div class="container">
            </div>
         </div>
         <div class="overlay"></div>
      </section>
      <section id="peso" class="contact bg-primary">
         <div class="container">
         </div>
      </section>
      <footer>
         <div class="container">
            <p>&copy; Todos os direitos reservados.</p>
         </div>
      </footer>
   </body>
</html>